<div class='container brand-con'>
	<div class="nav-min">
		<a ui-sref="index">
			<i class="fa fa-home"></i><span>首页</span>
		</a>
		<a href="">
			<i class="fa fa-angle-right"></i><span>{{categoryOneData[0].category}}</span>
		</a>
		<a href="javaScript:;" ng-repeat="classify in classify">
			<i class="fa fa-angle-right"></i><span>{{classify.class}}</span>
		</a>
	</div>
	<div class="row">
		<section>
			<a href="">
				<img src="images/website/brand/1011.jpg">
				<span>魅族</span>
			</a>
		</section>
		<section>
			<a href="">
				<img src="images/website/brand/1011.jpg">
				<span>魅族</span>
			</a>
		</section>
		<section>
			<a href="">
				<img src="images/website/brand/1012.jpg">
				<span>华为</span>
			</a>
		</section>
		<section>
			<a href="">
				<img src="images/website/brand/1013.jpg">
				<span>苹果</span>
			</a>
		</section>
		<section>
			<a href="">
				<img src="images/website/brand/3011.jpg">
				<span>小米</span>
			</a>
		</section>
		<section>
			<a href="">
				<img src="images/website/brand/2062.jpg">
				<span>七巧豆</span>
			</a>
		</section>
	</div>
</div>