<!--/**
 * footer page
 */-->

 <div class="container-fluid" ng-app="Footer" ng-controller="FooterCtrl">
 	<div class="service container">
 		<section  ng-repeat="position in iconServicePosition" style="background-position:{{position}}"></section>
 	</div>
 	<div class="web-map">
 		<div class="container">
 			<div class="row">
 				<div class="col-md-2">
 					<dl>
 						<dt>新手上路</dt>

 					</dl>
 				</div>
 				<div class="col-md-2">
 					<dl>
 						<dt>购物指南</dt>
 						<dd><a href="">优惠券介绍</a></dd>
 						<dd><a href="">订单说明</a></dd>
 						<dd><a href="">价格保护</a></dd>
 					</dl>
 				</div>
 				<div class="col-md-2">
 					<dl>
 						<dt>支付配送方式</dt>
 						<dd><a href="">在线支付</a></dd>
 						<dd><a href="">预付款</a></dd>
 						<dd><a href="">物流配送</a></dd>
 					</dl>
 				</div>
 				<div class="col-md-2">
 					<dl>
 						<dt>售后服务</dt>
 						<dd><a href="">退换货流程</a></dd>
 					</dl>
 				</div>
 				<div class="col-md-2">
 					<dl>
 						<dt>公司简介</dt>
 						<dd><a href="">关于我们</a></dd>
 						<dd><a href="">联系我们</a></dd> 					</dl>
 				</div>
 			</div>
 		</div>
 	</div>
 	<div class="Copyright"><p>2016-2017 @AllRight PowerBy
 		<i>zz</i>
 	</p></div>
 </div>